.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}
.note {
  background-color: #fef68a;

  border-radius: 10px;
  padding: 16px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new {
  background-color: #67d7cc;
}
textarea {
  border: none;
  background-color: #67d7cc;
  height: 130px;
}
textarea:focus {
  outline: none;
}

.save {
  background-color: #6a6a6a;
  border-radius: 6px;
  font-size: 12px;
  color: white;
}
.save:hover {
  background-color: #6a7171;
  cursor: pointer;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;
}
.delete {
  font-size: 24px;

  margin-left: 123px;
}
.note-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.delete:hover {
  cursor: pointer;
}
.search {
  margin-bottom: 1.5rem;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dark-mode {
  background-color: black;
}
.dark-mode h1 {
  color: white;
}
.edit {
  margin-left: 5px;
  font-size: 25px;
  cursor: pointer;
}
input {
  background: #ffffff00;
  border: 0px;
}
/* input:focus {
  outline: none;
} */
#icon {
  font-size: 24px;
}
#icon:focus .note {
  background-color: red !important;
}
.before {
  margin-top: -26px;
}
.editt {
  margin-left: 208px;
}
.jodit-status-bar {
  display: none !important;
}
.jodit-container {
  border: none !important;
}
